body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Navbar Styling */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f4f4;
    padding: 0 40px;
}

.nav img {
    margin-right: 50px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left ul li {
    margin-right: 30px;
    font-size: 20px;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-right a {
    text-decoration: none;
    font-size: 20px;
    background-color: #000;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
}

* {
    box-sizing: border-box;
}


/* Project Detail */
.project-detail {
    display: block;
    padding: 50px;
}

.project-detail .project-title {
    text-align: center;
}

.project-detail .project-content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.project-detail .project-content .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex: 60%;
}

.project-detail .project-content .project-image img {
    width: 100%;
}


.project-detail .project-content .project-description {
    margin-top: 20px;
    display: block;
    flex: 40%;
}


.project-detail .project-content .project-description h1 {
    margin-top: 5vh;
    font-weight: 100;
}

.project-detail .project-content .project-description .project-technologies {
    display: grid;
    grid-template-columns: auto auto;
}

.iconify {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    margin-right: 10px;
    fill: #fff;
}

@media (max-width: 800px) {

    .project-detail .project-content .project-image,
    .project-detail .project-content .project-description {
        flex: 100%;
    }
}

.project-overview {
    display: block;
    align-items: left;
    justify-content: left;
    padding: 50px;
}
